FROM mcr.microsoft.com/dotnet/aspnet:6.0 as base
WORKDIR /app

FROM mcr.microsoft.com/dotnet/sdk:6.0 AS build
COPY IcSimAccounting /src
WORKDIR /src
RUN ls
RUN dotnet restore
RUN dotnet build "IcSimAccounting.csproj" -c Debug -o /app/build

FROM build AS publish
RUN dotnet publish "IcSimAccounting.csproj" -c Debug -o /app/publish /p:EnvironmentName=Development

FROM base AS final
WORKDIR /app
COPY --from=publish /app/publish .
EXPOSE 80
ENTRYPOINT ["dotnet", "IcSimAccounting.dll"]
